/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'acnhtitel';
	src: url('../fonts/acnh-titel.woff2') format('woff2');
			 /* url('../fonts/postnl.woff') format('woff'); */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'acnh';
	src: url('../fonts/acnh-font.woff2') format('woff2');
			 /* url('../fonts/postnl.woff') format('woff'); */
	font-weight: normal;
	font-style: normal;
}



/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not[disabled], summary {
	cursor: pointer;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:hsl(37, 23%, 34%);
	--main-color: hsl(143, 34%, 59%);
	--secondary-color: hsl(115, 36%, 74%);
	--ribbon-main: hsl(140, 100%, 97%);
	--ribbon-shadow: hsl(139, 20%, 82%);
	--background-image: url("../images/acnh-bg.svg");
	--leaf-overlay: url("../images/acnh-leaf.png");

	--main-font: 'acnhtitel', sans-serif;
}



/****************/
/* JOUW STYLING */
/****************/
body {
  font-family: var(--main-font);
  color: var(--color-text);
	margin: 0;
	height: 100dvh;
	overflow: hidden; 
	display: grid;
	place-items: center;
	background-image: var(--background-image); 
	background-repeat: repeat;
}

/*********/
/* TITEL */
/*********/

/* Basis van strikje */
header {
	display: grid;
	place-items: center;
	position: absolute;
	top: 0vw;
}

h1 {
	background-color: var(--ribbon-main);
	padding: 0.8em;
	border-radius: 0.18vw;
	font-size: clamp(0.8vw, 2.5em, 2vw);
}

/* Strikje links en rechts opmaak */
h1::before, h1::after {
	content: "";
	clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
	background-color: var(--ribbon-shadow);
	position: absolute;
	z-index: -1;
}

/* Strikje links */
h1::before {
  width: 5vw; 
  height: 5vw; 
	left: -4.5vw;
	top: 1.3vw;
	transform: scaleX(-1);
}

/* Strikje rechts */
h1::after {
	width: 5vw; 
  height: 5vw; 
	right: -4.5vw;
	top: 1.3vw;
}



/***********************/
/* HUIS EN BINGO KAART */
/***********************/
main {
	display: grid;
	place-items: center;
	position: absolute;
	bottom: 20vw;
}



/*****************/
/* VILLAGER HUIS */
/*****************/
main img {
	width: 30vw;
	position: absolute;
	right: 10vw;
}

/* Haalt basis opmaak van het huisjes villager weg */
ol {
	list-style: none;
}

/* Villager binnen het huisje */
ol img {
	height: 10vw;
	width: 10vw;
	position: absolute;
	right: 16vw;
	top: 0.2vw;
}


/***************/
/* BINGO KAART */
/***************/

/* Bingo kaart in geheel */
ul {
	background-color: var(--main-color);
	padding: 1vw;
	border-radius: 1vw;
	width: 35vw;
	height: 35vw;
	position: absolute;
	left: 10vw;
	display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

/* Ordenen van bingo kaart */
ul li {
	display: grid;
	place-content: center;
	place-items: center;
}

/* Opmaak per villager vakje */
main ul li img {
	height: 6vw;
	width: 6vw;
	text-align: center;
	background-color: var(--secondary-color);
	border-radius: 1vw;
	position: static;
}

/* Haalt basis input opmaak weg en plaatst het op de goede plek */
ul li input {
	position: absolute;
	width: 6vw;
	height: 6vw;
	appearance: none;
	z-index: 2;
}

/* Plaatst vakje over de li */
main ul li input::after {
	content: var(--leaf-overlay);
	display: inline-block;
	transform: scale(0.03);
	width: 7vw;
	height: 7vw;
	opacity: 0;
	position: absolute;
	top: -2.4vw;
	left: -2.5vw;
}

/* Zet de opacity aan als deze is aangevinkt */
main ul li input:checked::after {
	opacity: 1;
}



/***************/
/* 	ANIMATIONS */
/***************/

/* Class die wordt toegevoegd door observer */
.open {
	animation: openDoor;
	right: 10vw;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

/* Animatie van deur */
@keyframes openDoor {
	0% {
		width: 30vw;
		height: 27vw;
		right: 10vw;
	}

	100% {
		width: 5vw;
		height: 27vw;
		right: 15.3vw;
	}
}



/*******************/
/* 	RESPONSIVENESS */
/*******************/

/* bij mobiele schermen huisje boven bingo kaart -> via grid */



/**************/
/* 	DARK MODE */
/**************/
@media (prefers-color-scheme: dark) {
	:root {
		--color-text: hsl(136, 20%, 82%);
		--main-color: hsl(169, 26%, 25%);
		--secondary-color: hsl(169, 29%, 19%);
		--ribbon-main: hsl(169, 26%, 25%);
		--ribbon-shadow: hsl(169, 29%, 19%);
		--background-image: url("../images/acnh-bg-dark.svg");
		--leaf-overlay: url("../images/acnh-leaf-dark.png");
	}
}