/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'acnhmain';
	src: url('../fonts/acnh.woff2') format('woff2'),
			 url('../fonts/acnh.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not[disabled], summary {
	cursor: pointer;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:hsl(37, 23%, 34%);
	--main-color: hsl(143, 34%, 59%);
	--secondary-color: hsl(115, 36%, 74%);
	--ribbon-main: hsl(140, 100%, 97%);
	--ribbon-shadow: hsl(139, 20%, 82%);
	--outline-color: hsl(0, 0%, 100%);
	--text-color: hsl(0, 0%, 100%);
	--active-background: hsl(149, 35%, 56%);
	--background-image: url("../images/acnh-bg.svg");
	--leaf-overlay: url("../images/acnh-leaf.png");
	--main-font: 'acnhmain', sans-serif;
}



/****************/
/* JOUW STYLING */
/****************/
body {
  font-family: var(--main-font);
  color: var(--color-text);
	margin: 0;
	height: 100dvh;
	overflow: hidden; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: var(--background-image); 
	background-repeat: repeat;
}

/* Algemene opmaak van de h1 */
h1 {
	font-size: clamp(2.5vw, 2.5em, 4vw);
	text-align: center;
}

/* Algemene opmaak van images */
img {
	width: 60vw;
	height: 60vw;
}

/* Algemene opmaak van linkjes */
a {
	text-decoration: none;
	color: var(--text-color);
	line-height: 1vw;
	margin-top: 5vw;
	font-size: clamp(2vw, 2.5em, 3vw);
	padding: 2vw;
}

/* Algemene opmaak van linkjes op hover */
a:hover {
	text-decoration: underline;
}

/* Algemene opmaak van linkjes op focus */
a:focus {
	background-color: var(--active-background);
	outline: solid 0.5vw var(--outline-color);
	border-radius: 2vw;
}

/*********/
/* TITEL */
/*********/
/* Basis van strikje */
header {
	display: grid;
	place-items: center;
}

/* Titel */
header h1 {
	background-color: var(--ribbon-main);
	padding: 3vw;
	border-radius: 0.18vw;
	position: relative;
}

/* Strikje links en rechts opmaak */
header h1::before, h1::after {
	content: "";
	clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
	background-color: var(--ribbon-shadow);
	z-index: -1;
	position: absolute;
	top: -0.5vw;
}

/* Strikje links */
header h1::before {
  width: 9vw; 
  height: 9vw; 
	transform: scaleX(-1);
	left: -4vw;
}

/* Strikje rechts */
header h1::after {
	width: 9vw; 
  height: 9vw; 
	right: -4vw;
}

/* Tekstje met uitleg */
header p {
	margin-top: 0.5vw;
	text-align: center;
	font-size: 2vw;
	color: var(--text-color);
	line-height: 4vw;
}


/***********************/
/* HUIS EN BINGO KAART */
/***********************/

/* Locatie van beide */
main {
	display: grid;
	place-items: center;
}



/*****************/
/* VILLAGER HUIS */
/*****************/

/* Het huis zelf */
main section {
	position: relative;
}

/* Button waarin het huis zit*/
main section button {
	height: 65vw;
	width: 65vw;
	border: none;
	background: none;
}

/* Het huis bij de hover state */
main section button:hover {
	cursor: pointer;
}

/* Het huis bij de focus state */
main section button:focus {
	outline-color: var(--outline-color);
	outline-style: solid;
	outline-width: 1vw;
	background-color: var(--active-background);
	border-radius: 1vw;
}

/* Het huis bij de active state */
main section button:active {
	transform: scale(0.95, 0.95);
}

/* Het huis binnen de button */
main section button img:nth-of-type(1) {
	height: 65vw;
	width: 65vw;
	padding: 5vw;
}

/* Deur van het huis binnen de button */
main section button img:nth-of-type(2) {
	animation: openDoor 2s forwards;
	width: 56vw;
	height: 56vw;
	top: 5vw;
	left: 7.3vw;
	position: absolute; 
	z-index: 3;
	transform-origin: 77%;
}

/* Haalt de opmaak van de lijst weg */
main section section {
	list-style: none;
	position: absolute;
	bottom: 19vw;
	left: 33vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Villager binnen het huisje */
main section section img {
	height: 17vw;
	width: 17vw;
}



/***************/
/* BINGO KAART */
/***************/

/* Bingo kaart in geheel */
main ul {
	background-color: var(--main-color);
	padding: 2vw;
	border-radius: 3vw;
	width: 66vw;
	height: 66vw;
	display: grid;
	place-items: center;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

/* Weghalen van originele lijst styling */
main ul li {
	list-style: none;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Haalt basis input opmaak weg en plaatst het op de goede plek */
main ul li input {
	position: absolute;
	appearance: none;
	z-index: 2;
	height: 11.5vw;
	width: 11.5vw;
	display: grid;
	place-items: center;
}

/* Hover state bij de li */
main ul li input:hover {
	cursor: pointer;
}

/* Focus state bij de li */
main ul li input:focus {
	outline-color: var(--outline-color);
	outline-style: solid;
	outline-width: 0.8vw;
	border-radius: 1vw;
	width: 11vw;
	height: 11.5vw;
}

/* Active state bij de li */
main ul li input:active {
	transform: scale(0.95);
}

/* Plaatst vakje over de li */
main ul li input::after {
	content: "";
	background: var(--leaf-overlay) no-repeat center;
	background-size: 10vw 10vw;
	width: 11vw;
	height: 11.5vw;
	opacity: 1;
	display: absolute;
	opacity: 0;
}

/* Zet de opacity aan als deze is aangevinkt */
main ul li input:checked::after {
	opacity: 1;
}

/* Centreert de label*/
main ul li label {
	display: grid;
	place-items: center;
}

/* Opmaak per villager vakje */
main ul li img {
	height: 11.5vw;
	width: 11.5vw;
	background-color: var(--secondary-color);
	border-radius: 1vw;
}




/***************/
/* 	ANIMATIONS */
/***************/

/* Animatie van deur */
@keyframes openDoor {
	0% {
		transform: scale(1, 1);
	}

	100% {
		transform:scale(0.2, 1);
	}
}



/*******************/
/* 	RESPONSIVENESS */
/*******************/

/* Middel schermen */
@media (min-width: 24.5em) {
	header h1 {
		padding: 1.5vh;
		border-radius: 0.18vh;
		font-size: clamp(0.5vh, 2.5em, 1.8vh);
	}

	header h1::before {
		width: 5vh; 
		height: 5vh; 
		left: -4vh;
	}

	header h1::after {
		width: 5vh; 
		height: 5vh; 
		right: -4vh;
	}

	header p {
		margin-top: 0.5vh;
		font-size: clamp(0.5vh, 2.5em, 1.1vh);
		line-height: 1.5vh;
	}

	main section button {
		height: 33vh;
		width: 33vh;
	}

	main section button:focus {
		outline-width: 0.3vh;
		border-radius: 1vh;
	}

	main section button img:nth-of-type(1) {
		height: 33vh;
		width: 33vh;
		padding: 1vh;
	}

	main section button img:nth-of-type(2) {
		width: 33vh;
		height: 31vh;
		top: 1.1vh;
		left: 0.4vh;
	}

	main section section {
		bottom: 8vh;
		left: 16.4vh;
	}

	main section section img {
		height: 9vh;
		width: 9vh;
	}

	main ul {
		padding: 1vh;
		border-radius: 1vh;
		width: 35vh;
		height: 35vh;
	}

	main ul li input {
		width: 6vh;
		height: 6vh;
	}

	main ul li input:focus {
		outline-width: 0.3vh;
		border-radius: 1vh;
		width: 5.8vh;
		height: 6vh;
	}

	main ul li input::after {
		background-size: 5vh 5vh;
		width: 5.8vh;
		height: 6vh;
		top: 0.5vh;
		left: 1vh;
	}

	main ul li img {
		height: 6vh;
		width: 6vh;
		border-radius: 1vh;
	}
}

/* Grote schermen */
@media (min-width: 53em) {
	h1 {
		font-size: clamp(0.5vw, 2.5em, 1.8vw);
	}

	img {
		width: 30vw;
		height: 30vw;
	}
	
	a {
		line-height: 1vw;
		margin-top: 3vw;
		font-size: clamp(0.3vw, 2.5em, 1.5vw);
		padding: 1vw;
	}
	
	a:focus {
		outline: solid 0.2vw var(--outline-color);
		border-radius: 1vw;
	}

	header h1 {
		font-size: clamp(0.5vw, 2.5em, 1.8vw);
		padding: 1.5vw;
		border-radius: 0.18vw;
	}

	header h1::before {
		width: 5vw; 
		height: 5vw; 
		left: -4vw;
	}

	header h1::after {
		width: 5vw; 
		height: 5vw; 
		right: -4vw;
	}

	header p {
		margin-top: 0.5vw;
		font-size: clamp(0.5vw, 2.5em, 1.1vw);
		line-height: 1.5vw;
	}

	main {
		display: flex;
		flex-direction: row;
	}

	main section button {
		height: 28vw;
		width: 28vw;
		margin-right: 5vw;
	}

	main section button:focus {
		outline-width: 0.3vw;
		border-radius: 1vw;
	}

	main section button img:nth-of-type(1) {
		height: 28vw;
		width: 28vw;
		padding: 1vw;
	}

	main section button img:nth-of-type(2) {
		width: 28vw;
		height: 26vw;
		top: 1vw;
		left: 0.2vw;
	}

	main section section {
		bottom: 7vw;
		left: 13.5vw;
	}

	main section section img {
		height: 8vw;
		width: 8vw;
	}

	main ul {
		padding: 0.6vw;
		border-radius: 1vw;
		width: 30vw;
		height: 30vw;
		margin-left: 5vw;
	}

	main ul li input {
		width: 5.5vw;
		height: 5.5vw;
	}

	main ul li input:focus {
		outline-width: 0.3vw;
		border-radius: 1vw;
		width: 5.3vw;
		height: 5.5vw;
	}

	main ul li input::after {
		background-size: 5vw 5vw;
		width: 5.3vw;
		height: 5.5vw;
		top: 0.5vw;
		left: 1vw;
	}

	/* Opmaak per villager vakje */
	main ul li img {
		height: 5.5vw;
		width: 5.5vw;
		border-radius: 1vw;
	}
}



/**************/
/* 	DARK MODE */
/**************/
@media (prefers-color-scheme: dark) {
	:root {
		--color-text: hsl(136, 20%, 82%);
		--main-color: hsl(169, 26%, 25%);
		--secondary-color: hsl(169, 29%, 19%);
		--ribbon-main: hsl(169, 26%, 25%);
		--ribbon-shadow: hsl(169, 29%, 19%);
		--active-background: hsl(169, 29%, 19%);
		--background-image: url("../images/acnh-bg-dark.svg");
		--leaf-overlay: url("../images/acnh-leaf-dark.png");
	}
}